<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <h3>Expense List</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Expense Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense, iterStat : ${expenses}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${expense.name}"></td>
            <td th:text="${expense.amount}"></td>
            <td th:text="${#temporals.format(expense.date, 'yyyy-MM-dd')}"></td>
            <td th:text="${expense.description}"></td>
            <td>
                <a th:href="@{'/expenses/edit/' + ${expense.id}}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
